<!DOCTYPE html>
<html>
<header>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <title>Carmen's website</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="css/coming_soon/main.css">
    <link rel="stylesheet" href="css/coming_soon/util.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</header>

<body>

    <div class="bg-g1 size1 flex-w flex-col-c-sb p-l-15 p-r-15 p-b-30" id="vapp">
        <div class="flex-w flex-c cd100 wsize1 bor1">
            <div class="flex-col-c-m size2 bg0 bor2">
                <span class="l1-txt3 p-b-7 days">{{ days }}</span>
                <span class="s1-txt1">DAYS</span>
            </div>

            <div class="flex-col-c-m size2 bg0 bor2">
                <span class="l1-txt3 p-b-7 hours">{{ hours }}</span>
                <span class="s1-txt1">HOURS</span>
            </div>

            <div class="flex-col-c-m size2 bg0 bor2">
                <span class="l1-txt3 p-b-7 minutes">{{ minutes}}</span>
                <span class="s1-txt1">MINUTES</span>
            </div>

            <div class="flex-col-c-m size2 bg0">
                <span class="l1-txt3 p-b-7 seconds">{{ seconds }}</span>
                <span class="s1-txt1">SECONDS</span>
            </div>
        </div>

        <div class="flex-col-c w-full p-t-50 p-b-80">
            <h3 class="l1-txt1 txt-center p-b-10" id="colorlib_coming_soon_page_heading">
                <span v-if="passTime > 0">COMING SOON</span>
                <span v-else>IT'S TIME !</span>
            </h3>
            <p class="txt-center l1-txt2 p-b-43 wsize2" id="colorlib_coming_soon_page_content">
                <span v-if="passTime > 0">Please wait a bit</span>
                <span v-else><button @click="letsgo">let's go !<br>(click here)</button></span>
            </p>
            <p class="txt-center l1-txt2 p-b-43">
                <img src="images/tenor.gif">
            </p>
        </div>

        <span class="s1-txt2 txt-center colorlib-copyright">
            <span>And again Carmen, do not expect too much please... ^^'</span>
		</span>

    </div>

    <script>
        const vueApp = new Vue({
            el: '#vapp',
            data: {
                distance: 0,
                passTime: 0,
                timer:"",
                start: "",
                end: "",
                interval: "",
                days:"",
                minutes:"",
                hours:"",
                seconds:"",
                message:"",
                statusType:"",
                statusText: "",
            },
            mounted(){
                this.start = new Date().getTime();
                this.end = new Date("Jan 23, 2021 01:20:00").getTime();
                // Update the count down every 1 second
                this.timerCount(this.start,this.end);
                this.interval = setInterval(() => {
                    this.timerCount(this.start,this.end);
                }, 1000);
            },
            methods: {
                letsgo() {
                    document.location.href = 'home.html'
                },
                timerCount: function(start,end){
                    // Get todays date and time
                    var now = new Date().getTime();

                    // Find the distance between now an the count down date
                    this.distance = start - now;
                    this.passTime =  end - now;

                    if(this.distance < 0 && this.passTime < 0){
                        //
                    }else if(this.distance < 0 && this.passTime > 0){
                        this.calcTime(this.passTime);
                    } else if(this.distance > 0 && this.passTime > 0 ){
                        this.calcTime(this.distance);
                    }
                },
                calcTime: function(dist){
                    // Time calculations for days, hours, minutes and seconds
                    this.days = Math.floor(dist / (1000 * 60 * 60 * 24));
                    this.hours = Math.floor((dist % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    this.minutes = Math.floor((dist % (1000 * 60 * 60)) / (1000 * 60));
                    this.seconds = Math.floor((dist % (1000 * 60)) / 1000);
                }

            }
        })
    </script>
</body>